- 
    const navigation = [
        {title: 'Home', href: '/'},
        {title: 'Destination', href: 'destination.pug'},
        {title: 'Crew', href: 'crew.pug'},
        {title: 'Technology', href: 'technology.pug'},
    ];



header.flex.justify-between.items-center(
    class=`
        pl-6 pt-6 pr-4 md:pl-9 xl:pl-14 md:pt-0 xl:mt-10 md:pr-0
    `)
    img(src="assets/shared/logo.svg" class="w-10 h-10 md:w-12 md:h-12")
    div.w-full.h-px.ml-14.-mr-8.bg-gray-600.z-20(class='hidden xl:block')
    label.p-2.cursor-pointer(for="menu-toggler"
        class="md:hidden")
        img.w-6(src="assets/shared/icon-hamburger.svg")
    input#menu-toggler.hidden.peer(type="checkbox")
    nav.text-white.bg-opacity-5.backdrop-blur-lg.bg-white(
        class=`
                z-10
                w-64 h-screen md:w-auto md:h-auto
                md:px-12 xl:px-32 xl:pr-40
                peer-checked:-translate-x-full
                fixed left-full top-0 md:static
                transition-all ease-in-out duration-300 md:transition-none
        `)
        .mt-6.mr-4.flex.justify-end(class='md:hidden')
            label.inline-block.p-2.cursor-pointer(for="menu-toggler")
                img.w-6(src="assets/shared/icon-close.svg")

        ul(
            class=`
                mt-16 md:mt-0
                flex flex-col md:flex-row
                space-y-8 md:space-y-0 md:space-x-9
                `)
            each item, index in navigation
                - nav_index = index.toString().padStart(2, '0')
                li 
                    - const highlight_class = (item.title == activePage) ? 'border-white border-r-4 md:border-r-0 md:border-b-4' : ''
                    a.space-x-2.font-barlow-condensed.tracking-widest(href=item.href,
                        class=`
                            ${highlight_class}
                            hover:border-white/50 hover:border-r-4 md:hover:border-r-0 md:hover:border-b-4
                            block w-full md:inline-block md:w-auto
                            px-8 py-1.5 md:px-0 md:py-9
                        `)
                        span.font-bold.tabular-nums(class='md:hidden xl:inline') #{nav_index}
                        span.uppercase(class='md:text-sm xl:text-base') #{item.title}
