extend includes/layout.pug
block append customizations
    - activePage='Technology'
block content
    - const circleGapClasses = `gap-4 xl:gap-8`
    - const circleSizingClasses = `w-10 md:w-[3.75rem] xl:w-20`
    main.text-white.flex.flex-col.w-full(
        class=`mt-5 md:mt-1 xl:mt-7 xl:pl-40`)
        h1.text-page-title
            span(aria-hidden='true') 02
            | Space Launch 101

        p(class=`
            absolute left-0 right-0 xl:left-[20rem]
            top-[25.5rem] md:top-[43rem] xl:top-[23.5rem]
            font-barlow-condensed uppercase
            tracking-widest text-sm md:text-base
            text-indigo-200 text-center xl:text-left
            `) The terminology ...
        nav(
            class=`
                z-20
                absolute w-full xl:w-auto
                flex justify-center items-center xl:justify-start
                 text-center top-[21.25rem] md:top-[35.125rem] xl:top-[24rem]
                mix-blend-difference
            `)
            ul(class=circleGapClasses
                class=`
                    flex xl:flex-col
                `)
                each step, index in technology
                    li
                        a(href=`#step-${index}`
                            class=circleSizingClasses
                            class=`
                                flex justify-center items-center
                                aspect-square rounded-full
                                border border-gray-500
                                font-bellefair leading-none
                                md:text-2xl
                            `)=index+1


        article(
            class=`
                grow xl:grow-0
                w-full xl:h-[527px] max-w-[85rem]
                mt-8 md:mt-5 xl:mt-7
                flex xl:flex-col
                snap-mandatory scroll-smooth scrollbar-hidden
                overflow-x-scroll xl:overflow-y-scroll
                snap-x xl:snap-y
            `)
            each step, stepIndex in technology
                section(id=`step-${stepIndex}` class=`
                    flex-none
                    w-full
                    flex flex-col xl:flex-row xl:justify-between xl:items-start
                    xl:gap-20
                    snap-center
                `)
                    div(
                        aria-hidden=true
                        class=circleGapClasses
                        class=`
                            xl:grow-0
                            order-2 xl:order-1
                            mt-8 xl:mt-[7rem]
                            flex justify-center items-center xl:flex-col
                        `)
                        each navStep, index in technology
                            div(href='#'
                                class={
                                    'bg-white border-white': step == navStep,
                                    'border-transparent': step != navStep,
                                }
                                class=circleSizingClasses
                                class=`
                                    flex justify-center items-center
                                    aspect-square rounded-full
                                    border
                                `)

                    section(class=`
                            order-3 xl:order-2
                            xl:grow
                            mt-[3.25rem] md:mt-24 xl:mt-[8rem] px-6 md:px-40 xl:px-0
                            text-center xl:text-left
                        `)
                        h2(class=`font-bellefair text2xl md:text-[2.5rem] xl:text-[56px] uppercase`)=step.name
                        p.text-description(class='mt-4 md:mt-2 xl:max-w-md')=step.description
                    picture(class='xl:flex-none order-1 xl:order-3')
                        source(srcset=step.images.portrait media='(min-width: 1024px)')
                        img(src=step.images.landscape
                            class=`
                                w-full xl:w-auto
                                h-[10.5rem] md:h-[19.375rem] xl:h-[527px]
                                object-cover
                                `)
